<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>테스트</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   <!-- <script>
        function getToken(){
            var data = {
                returnurl : 'https://m.nemoview.com/auth_result'
            };
            $.ajax({
                type: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-HTTP-Method-Override": "POST",
                    "Accept":"*/*"
                },
                url: "https://api.nemoview.com/member/auth",
                data: JSON.stringify(data),
                success: function(result) {
                    console.log(result);
                    $('#enc_data').val(result.BODY.enc_data);
                    $('#integrity_value').val(result.BODY.integrity_value);
                    $('#token_version_id').val(result.BODY.dataBody.token_version_id);
                },
                error: function(result) {
                    console.log(result);
                }
            });
        }

        $(document).ready(function(){
           getToken();
        });
    </script>-->
</head>
<body>
<div>
zzzzzz
</div>
</body>
</html>