<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.home.api.dao.ServiceDao">
    <sql id="List">
        <if test="searchKeyword != null">
            <if test="searchType == 'service'.toString()">
            </if>
        </if>
    </sql>
    <sql id="ListOrder">
        ORDER BY
        <if test="orderType != null">
            <choose>
                <when test="orderType == 'reg_date_desc'.toString()">REGDATE DESC, </when>
            </choose>
        </if>
        SERVICE DESC
    </sql>
    <select id="getListService" resultType="com.jamie.home.api.model.SERVICE">
        SELECT *
        FROM BM_SERVICE
        WHERE 1=1
        <include refid="List"></include>
        <include refid="ListOrder"></include>
        <if test="start != null">
            LIMIT #{start}, #{page_block}
        </if>
    </select>

    <select id="getListServiceCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM BM_SERVICE
        WHERE 1=1
        <include refid="List"></include>
    </select>

    <select id="getService" resultType="com.jamie.home.api.model.SERVICE">
        SELECT *
        FROM BM_SERVICE
        WHERE SERVICE = #{service}
    </select>

    <insert id="insertService" parameterType="com.jamie.home.api.model.SERVICE" useGeneratedKeys="true" keyProperty="service">
        INSERT INTO BM_SERVICE (
            TITLE, CONTENT, LINK
        ) VALUES (
            #{title}, #{content}, #{link}
        )
    </insert>

    <update id="updateService">
        UPDATE BM_SERVICE SET UPDDATE = now()
        <if test="title != null">,TITLE = #{title}</if>
        <if test="content != null">,CONTENT = #{content}</if>
        <if test="link != null">,LINK = #{link}</if>
        WHERE SERVICE = #{service}
    </update>
    <delete id="deleteService">
        DELETE FROM BM_SERVICE WHERE SERVICE = #{service}
    </delete>
</mapper>